@import "../../../styles/variables";

//NavigationBar
.navigation-bar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 88px;
  width: 375px;
  background-color: $color-primary;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  box-sizing: border-box;
  .navigation-bar-return-icon {
    background-image: url("../../../assets/icons/navigation-return.png");
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 54px;
    margin-left: 16px;
    background-size: 100% 100%;
    text-align: center;
    width: 12px;
    height: 24px;
  }
  .navigation-bar-logo {
    background-image: url("../../../assets/logo/logo.png");
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 44px;
    margin-left: 131px;
    background-size: 100% 100%;
    text-align: center;
    width: 58px;
    height: 39px;
  }
}
//TabBar
.foot-tab-bar {
  display: flex;
  background-color: $sidebar-bottom-color;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 81px;
  width: 100%;
  box-shadow: 0px 2px 28px rgba(0, 0, 0, 0.13);
  border-radius: 28px 28px 0px 0px;
  z-index: 1;
  .foot-tab-bar-item {
    flex: 1;
    text-align: center;
    font-size: $f8;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.menu-icon {
  background-image: url("../../../assets/img/tabbar-icon1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  height: 35px;
  width: 35px;
  text-align: center;
  margin-top: 10px;
}
.menu-text {
  color: $color-title;
  font-size: 10px;
  width: 20px;
  height: 14px;
  font-weight: 500;
  line-height: 14px;
  text-align: center;
  margin-top: 5%;
}
.foot-tab-bar-item:nth-child(2) > .menu-icon {
  background-image: url("../../../assets/img/tabbar-icon1.png");
}
.foot-tab-bar-item:nth-child(2) > .menu-icon {
  background-image: url("../../../assets/img/tabbar-icon2.png");
}
.foot-tab-bar-item:nth-child(3) > .menu-icon {
  background-image: url("../../../assets/img/tabbar-icon3.png");
}
.foot-tab-bar-item:nth-child(4) > .menu-icon {
  background-image: url("../../../assets/img/tabbar-icon4.png");
}
.foot-tab-bar-item-hover {
  .menu-icon {
    background-image: url("../../../assets/img/tabbar-icon3-hover.png") !important;
    height: 44px;
    width: 44px;
    margin-top: 3px!important;
  }
  .menu-text {
    color: $color-primary;
    width: 20px;
    height: 14px;
    font-size: 10px;
    font-weight: bold;
    line-height: 14px;
  }
}



.page-section {
  width: 100%;
  height: 100vh;
}

//整体页面
.discover {
  background-color: $color-bg-bottom;
}

.page-section-spacing{
  margin-top: 0;
  text-align: center;
  margin-bottom: 87px;
}
.scroll-view {
  height: 100vh;
  width: 347px;
  margin-left: 50%;
  transform: translate(-50%);
}



//轮播图
.discover-swiper {
  margin-top: 96px;
  margin-left: 50%;
  transform: translate(-50%);
  width: 336px;
  height: 80px;
  border-radius: 10px;
  background: #DDDDDD;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
  .discover-swiper-item-img {
    background-image: url("../../../assets/img/competition-icon3.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
  }
}

.classification-containers {
  width: 100px;
  height: 30px;
  background: #E4E4E4;
  border-radius: 15px;
  margin-top: 102px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .option-button {
    width: 50%;
    height: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #999999;
    padding-top: 5px;
    box-sizing: border-box;
  }
  .button-hover {
    background-color: #FEB70F;
    color: $color-bg;
    border-radius: 15px;
  }
}

.competition-list-container {
  width: 100%;
  height: auto;
  background-color: $color-bg;
  margin-top: 10px;
  box-sizing: border-box;
  text-align: left;
  .competition-list-item:nth-child(1) > .publisher-container > .publisher-avatars {
    background-image: url("../../../assets/avatars/jj-avatars.jpg");
  }
  .competition-list-item:nth-child(2) > .publisher-container > .publisher-avatars {
    background-image: url("../../../assets/avatars/zd-avatars.jpg");
  }
  .competition-list-item:nth-child(3) > .publisher-container > .publisher-avatars {
    background-image: url("../../../assets/avatars/cyn-avatars.jpg");
  }
  .competition-list-item:nth-child(4) > .publisher-container > .publisher-avatars {
    background-image: url("../../../assets/avatars/jj-avatars.jpg");
  }
  .competition-list-item {
    width: 360px;
    background: #F9F9F9;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    padding-left: 15px;
    box-sizing: border-box;
    //发布者信息
    .publisher-container {
      width: 100%;
      height: 36px;
      margin-top: 7px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      .publisher-avatars {
        width: 36px;
        height: 36px;
        background-position: center center;
        background-size: 100% 100%;
        border-radius: 50%;
      }
      .publisher-right-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .publisher-name {
          margin-left: 10px;
          height: 17px;
          color: black;
          font-size: 14px;
          font-weight: 800;
          line-height: 17px;
          display: inline-block;
        }
        .publisher-college {
          color: #ACACAC;
          font-size: 11px;
          font-weight: 500;
          line-height: 13px;
          width: auto;
          height: 13px;
          margin-left: 9px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      .icon-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        .super-icon1 {
          background-image: url("../../../assets/icons/superman-icon1.png");
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 100% 100%;
          width: 45px;
          height: 45px;
          margin-left: 5px;
        }
        .super-icon2 {
          background-image: url("../../../assets/icons/superman-icon2.png");
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 100% 100%;
          width: 45px;
          height: 45px;
        }
        .super-icon3 {
          background-image: url("../../../assets/icons/superman-icon3.png");
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 100% 100%;
          width: 45px;
          height: 45px;
        }
      }
    }
  }
}
.need-content {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: #666666;
  margin-top: 11px;
}
.publish-time {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  color: #9D9D9D;
  margin-top: 12px;
  border-bottom: 1px solid #E1E1E1;
  padding-bottom: 8px;
}
.discuss-container {
  margin-top: 16px;
  width: 100%;
  margin-left: 50%;
  transform: translate(-50%);
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  .discusser-name {
    font-size: 14px;
    line-height: 15px;
    color: #4F75B3;
    font-weight: bold;
    display: inline;
  }
  .discusser-content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 36px;
    margin-top: 3px;
    width: 280px;
    box-sizing: border-box;
    .discusser-content {
      font-size: 13px;
      font-weight: 400;
      line-height: 15px;
      color: #666666;
      display: inline;
      margin-right: 20px;
    }
    .thumb-icon {
      background-image: url("../../../assets/icons/thumb-hover.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 100% 100%;
      width: 19px;
      height: 19px;
    }
  }

}
.item-bottom-container {
  width: 100%;
  height: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 11px;
  .view-all-button {
    height: 18px;
    background: #E0E0E0;
    border-radius: 11px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    font-size: 10px;
    font-weight: 400;
    color: #999999;
  }
  .discuss-button {
    width: 15px;
    height: 15px;
    margin-right: 29px;
    background-image: url("../../../assets/icons/discuss-button.png ");
    background-position: center center;
    background-size: 100% 100%;
  }
}

//发布按钮
.publish-button {
  background-color: $color-bg;
  position: fixed;
  right: 22px;
  bottom: 135px;
  background-image: url("../../../assets/icons/add.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: 1;
}
