$f1: 80px;
$f2: 40px;
$f3: 36px;
$f4: 25px;
$f5: 21px;
$f6: 18px;
$f7: 15px;
$f8: 12px;

$color-primary: #1B2848;
$color-secondary: lighten($color-primary, 10%);
$color-tertiary: lighten($color-primary, 20%);

$color-bg: #FFFFFF;
$color-bg-grey: #F2F2F2;
$color-bg-bottom: #F7F7F7;

$color-grey :#999999;

$color-text-primary: #000000;

$color-title: #999999;
$color-title2: #F0F0F0;
$color-title-bg: #ECECEC;
$color-title-black: #000000;
$color-title-black2: #666666;

$sidebar-bottom-color: #FFFFFF;
$sidebar-top-color: #1B2848;
$menuActive-bg: #2C3652;
$menuActive-text: #2D3772;

$color-yellow-title: #E7A30A;
$color-yellow-border: #FDB300;
$color-blue-button: #4F75B3;
$color-yellow-button: #FEB70F;
$color-grey-button: #E6E6E6;

$color-price: #FF0000;

$cover-view-bg: #545454;
