@import "../../styles/variables";

.navigation-bar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 88px;
  width: 375px;
  background-color: $color-primary;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  box-sizing: border-box;
  .navigation-bar-return-icon {
    background-image: url("../../assets/icons/navigation-return.png");
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 54px;
    margin-left: 16px;
    background-size: 100% 100%;
    text-align: center;
    width: 12px;
    height: 24px;
  }
  .navigation-bar-logo {
    background-image: url("../../assets/logo/logo.png");
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 44px;
    margin-left: 131px;
    background-size: 100% 100%;
    text-align: center;
    width: 58px;
    height: 39px;
  }
}
